body {
  margin: 0px;
  background-color: #edf6f9;
}

header {
  background-color: #006d77;
  color: white;
  padding: 16px;
  font-size: 22px;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

footer {
  width: 100%;
  background-color: #006d77;
  height: 5%;
  position: fixed;
  bottom: 0px;
}

footer > p {
  margin: 8px;
  color: white;
  text-align: center;
  font-size: 20px;
}

li {
  list-style-type: none;
  text-decoration: none;
}

#area {
  display: block;
  width: 100%;
  /* border: 3px solid yellowgreen; */
}

.buttons {
  display: inline-flex;
  float: right;
  /* size: 20px; */
  /* border: 3px solid black; */
}

.buttons .btn {
  width: 8rem;
}

#save-button {
  background-color: #83c5be;
}

#save-button:hover {
  background-color: #2d6a4f;
  transition: 0.5s;
}

#clear-button {
  background-color: #e29578;
}

#clear-button:hover {
  background-color: #bb3e03;
  color: white;
  transition: 0.5s;
}

.card {
  width: 210px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}

img {
  box-sizing: border-box;
  border: 5px solid rgb(236, 183, 191);
  border-radius: 50%;
}

.side-notes {
  /* border: 1px solid #83C5BE; */
  /* border-radius: 8px; */
  width: 100%;
  padding-left: 0px;
}

.side-notes li {
  padding-left: 0.5em;
  background: #83c5be;
  height: 40px;
  line-height: 40px;
  color: #edf6f9;
  /* border-bottom: 1px solid grey; */
}

.side-notes li:nth-child(2n) {
  background: #006d77;
}
